.Canvas {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100vh - var(--toolbar-height) * 2);
	width: 100%;
}

canvas {
	margin: 0 auto;
	background-color: white;
	border: 1px solid gray;
}

.modalBody {
    margin: 0 auto;
    width: 75%;
    display: flex;
    justify-content: space-between;
}
